@import url(normalize.css);
.page-header {
  min-height: 320px;
  background-color: #283645; }
  .page-header .menu {
    background-color: #000;
    opacity: 0.3;
    padding: 20px; }
    .page-header .menu:after {
      content: '';
      display: table;
      clear: both; }
    .page-header .menu .logo {
      float: left;
      width: 80px; }
    .page-header .menu .main-nav-toggle {
      position: relative;
      float: right;
      background-color: transparent;
      border: none; }
      .page-header .menu .main-nav-toggle .toggle__icon-bar {
        display: block;
        width: 50px;
        height: 4px;
        background-color: #fff;
        margin-bottom: 6px; }
    .page-header .menu .main-nav {
      float: right;
      display: none; }
      .page-header .menu .main-nav .main-nav__list {
        margin: 0;
        padding: 0;
        list-style-type: none; }
  .page-header__text {
    text-align: center;
    padding: 25px 0;
    color: #fff;
    font: 300 24px/1.6 "Open Sans", sans-serif; }

.contacts {
  background-color: #fff;
  text-align: center;
  padding-top: 45px;
  text-align: center; }
  .contacts__header {
    font: 300 24px/1.6 "Open Sans", sans-serif;
    color: #283645;
    padding-bottom: 35px; }
  .contacts-item-wrap {
    padding-bottom: 25px; }
    .contacts-item-wrap .contacts__sub-header {
      font: 700 18px/1 "Open Sans", sans-serif;
      color: #000; }
    .contacts-item-wrap .contacts__item {
      font: 300 24px/1.6 "Open Sans", sans-serif;
      color: #d22856;
      display: inline-block; }

.tariffs {
  background-color: #f2f2f2;
  padding: 100px 0; }
  .tariffs__slider {
    position: relative; }
    .tariffs__slider .tarrifs__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #fff; }
      .tariffs__slider .tarrifs__list li {
        position: relative;
        border-bottom: 2px solid #f2f2f2; }
        .tariffs__slider .tarrifs__list li:first-child {
          background-color: #283645; }

.tarrifs-list__wrap {
  position: relative;
  width: 95%;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  margin: 0 auto; }
  .tarrifs-list__wrap .tariffs__list-item {
    text-transform: uppercase;
    color: #283645;
    display: block;
    padding: 20px; }
  .tarrifs-list__wrap .tariffs__list-icon--ok, .tarrifs-list__wrap .tariffs__list-icon--none {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    height: 28px;
    width: 32px;
    position: absolute;
    right: 15px;
    top: 20px; }
  .tarrifs-list__wrap .tariffs__list-icon--none {
    width: 28px; }
  .tarrifs-list__wrap .tarrifs-list-img {
    display: block;
    margin: 0 auto; }
  .tarrifs-list__wrap .tarrifs-list__new-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 73px;
    height: 73px; }

.indicators {
  position: absolute;
  width: 65px;
  height: 15px;
  bottom: -60px;
  left: 50%;
  margin-left: -32px;
  text-align: center;
  font-size: 0;
  cursor: pointer; }
  .indicators a {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px; }
    .indicators a:last-child {
      margin-right: 0; }
  .indicators .indicators--active {
    border: 3px solid #283645;
    width: 12px;
    height: 12px;
    background-color: #fff; }

.download-app {
  background-color: #283645;
  color: #fff;
  padding: 25px 0 30px;
  text-align: center; }
  .download-app__download-link {
    width: 250px;
    margin: 0 auto; }
  .download-app__button {
    width: 210px;
    color: #fff;
    margin: 0 auto 20px;
    padding: 15px 30px;
    border: 2px solid #fff;
    border-radius: 40px;
    cursor: pointer;
    display: block; }
  .download-app__platforms {
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px; }
    .download-app__platforms li {
      display: inline-block;
      width: 52px;
      height: 61px;
      border: 1px dashed white; }

.promo-app {
  background-color: #fff;
  padding-top: 35px; }
  .promo-app__header {
    font: 300 24px/1.6 "Open Sans", sans-serif;
    text-align: center; }
    .promo-app__header span {
      display: block;
      padding-bottom: 35px; }

.about-app {
  background-color: #f2f2f2;
  padding: 50px 0 0;
  text-align: center; }
  .about-app__image {
    padding-top: 40px; }
    .about-app__image img {
      display: block;
      margin: 0 auto; }
  .about-app .sub-header {
    font: 700 18px/1 "Open Sans", sans-serif;
    padding: 15px;
    text-align: center; }

.testimonials {
  background-color: #fff;
  padding: 50px 0 100px; }
  .testimonials__slider {
    position: relative; }
    .testimonials__slider__header {
      font: 700 18px/1 "Open Sans", sans-serif;
      text-align: center;
      padding-bottom: 20px; }
  .testimonials__text {
    text-align: center; }

.container:after {
  content: '';
  display: table;
  clear: both; }
