@import url(normalize.css);
.page-header {
  min-height: 460px;
  background: url("../img/iphone-hand-1.png") no-repeat center bottom, url(../img/background-1@1x.jpg) no-repeat center center #283645;
}
.page-header .container {
  line-height: 3;
}
.page-header .menu {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 26px;
  position: relative;
}
.page-header .menu:after {
  content: '';
  display: table;
  clear: both;
}
.page-header .menu .main-nav-toggle {
  position: relative;
  float: right;
  background-color: transparent;
  border: none;
  outline: 0;
  padding: 0;
  height: 26px;
  vertical-align: middle;
  position: relative;
  top: 5px;
}
.page-header .menu .main-nav-toggle .toggle__icon {
  fill: #fff;
}
.page-header .menu .main-nav-toggle .toggle__icon:hover {
  fill: #d22856;
}
.page-header .menu .main-nav-toggle .toggle__icon:active {
  opacity: 0.5;
}
.page-header .menu .main-nav {
  float: right;
}
.page-header .menu .main-nav .main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-header .menu .main-nav .main-nav__list a {
  color: #fff;
  font-size: 18px;
}
.page-header .menu .main-nav .main-nav__list a:hover {
  border-bottom: 1px solid #fff;
}
.page-header .menu .main-nav .main-nav__list a:active {
  opacity: 0.7;
  border: none;
}
.page-header .menu .main-nav--mobile {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  list-style: none;
  width: 100%;
  left: 0;
  top: 92px;
  z-index: 100;
}
.page-header .menu .main-nav--mobile a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: #283645;
  border-bottom: 1px solid #000101;
  border-top: 1px solid #485461;
  padding: 5px;
}
.page-header .menu .main-nav-mobile--active {
  display: block;
}
.page-header__text {
  text-align: center;
  padding: 25px 0;
  color: #fff;
  font: 300 24px/1.2 "Open Sans", sans-serif;
}

.logo {
  float: left;
  width: 200px;
}
.logo__link {
  display: block;
  width: 145px;
  height: 40px;
  background: url("../img/Pink-logo-1.png") no-repeat center center;
}
.logo__link:hover {
  opacity: 0.5;
}

.contacts {
  background-color: #fff;
  text-align: center;
  padding-top: 45px;
  text-align: center;
  position: relative;
}
.contacts__header {
  font: 300 24px/1.2 "Open Sans", sans-serif;
  color: #283645;
  width: 230px;
  margin: 0 auto;
  padding-bottom: 35px;
}
.contacts-item-wrap {
  padding-bottom: 28px;
}
.contacts-item-wrap .contacts__sub-header {
  font: 700 18px/1 "Open Sans", sans-serif;
  color: #000;
}
.contacts-item-wrap .contacts__item {
  font: 300 24px/1.2 "Open Sans", sans-serif;
  display: inline-block;
  color: #d22856;
}
.contacts-item-wrap .contacts__item:hover {
  color: #000;
  cursor: pointer;
}
.contacts:after {
  content: '';
  display: block;
  height: 125px;
  background: linear-gradient(188deg, #fff 1%, #fff 50%, transparent 50%);
  width: 50%;
  bottom: -125px;
  left: 0;
  position: absolute;
  z-index: 1;
}
.contacts:before {
  content: '';
  display: block;
  height: 125px;
  background: linear-gradient(172deg, #fff 1%, #fff 50%, transparent 50%);
  width: 50%;
  bottom: -125px;
  right: 0;
  z-index: 1;
  position: absolute;
}

.page-footer {
  padding: 60px 0;
  line-height: 2.5;
}
.page-footer .logo {
  width: 33%;
}
.page-footer .logo__link--footer {
  display: block;
  width: 145px;
  height: 40px;
  background: url(../img/Pink-logo-footer-2@1x.png) no-repeat center center;
}
.page-footer .logo__link--footer:hover {
  opacity: 0.5;
}

.socials {
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 33%;
}
.socials__item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__item a {
  display: inline-block;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.socials__item a:hover {
  border-color: #000;
}
.socials__item a:active {
  opacity: 0.5;
}
.socials__item .tw__icon {
  fill: #d22856;
}
.socials__item .tw__icon:hover {
  opacity: 0.5;
}
.socials__item .fb:active {
  opacity: 0.5;
}
.socials__item .fb__icon {
  fill: #d22856;
}
.socials__item .yt:active {
  opacity: 0.5;
}
.socials__item .yt:active {
  opacity: 0.5;
}
.socials__item .yt__icon {
  fill: #d22856;
}

.authors {
  float: right;
  color: #000;
  width: 33%;
  text-align: right;
}
.authors__academy, .authors__designer {
  display: inline-block;
  width: 30px;
  height: 33px;
  vertical-align: middle;
  margin-left: 10px;
  fill: #d22856;
}
.authors__academy:hover, .authors__designer:hover {
  fill: #000;
}
.authors__designer {
  fill: #d22856;
}
.authors__designer:hover {
  fill: #000;
}

#slider {
  text-align: center;
}
#slider label, #slider a {
  color: teal;
  cursor: pointer;
  text-decoration: none;
}
#slider label:hover,
#slider a:hover {
  color: #000 !important;
}
#slider * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#slider label,
#slider #active,
#slider img {
  -moz-user-select: none;
  -webkit-user-select: none;
}
#slider .catch {
  display: block;
  height: 0;
  overflow: hidden;
}
#slider #slider {
  margin: 0 auto;
}
#slider #description {
  margin: 25px auto;
  text-align: left;
  max-width: 650px;
  padding: 0 25px;
}
#slider .respond {
  margin: 0 auto;
  max-width: 370px;
}
#slider input {
  display: none;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slide5:checked ~ #slides .inner {
  margin-left: -400%;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

article img {
  width: 100%;
}

#slides .inner {
  width: 500%;
}

#slides article {
  width: 20%;
  float: left;
  position: relative;
  padding: 105px 0;
}
#slides article:before {
  content: '';
  display: block;
  width: 80px;
  height: 64px;
  background: url("../../img/quotes.svg") no-repeat center center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40px;
  display: none;
}

/* Slider Styling */
/* Control Setup */
#controls {
  margin: -25% 0 0 -10%;
  width: 116%;
}
#controls label {
  display: none;
  opacity: 0.3;
}
#controls label:hover {
  opacity: 0.8;
}

#active {
  margin: 16% 0 0;
  text-align: center;
}
#active label {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
#active label:hover {
  background: #7e868f;
}
#active label:active {
  opacity: 0.5;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
  position: relative;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-child(2):before,
#slide2:checked ~ #controls label:nth-child(3):before,
#slide3:checked ~ #controls label:nth-child(4):before,
#slide4:checked ~ #controls label:nth-child(5):before,
#slide5:checked ~ #controls label:nth-child(1):before {
  content: '';
  position: absolute;
  width: 30px;
  display: block;
  border: 10px solid transparent;
  border-left-color: grey;
}

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}
#slide1:checked ~ #controls label:nth-child(5):before,
#slide2:checked ~ #controls label:nth-child(1):before,
#slide3:checked ~ #controls label:nth-child(2):before,
#slide4:checked ~ #controls label:nth-child(3):before,
#slide5:checked ~ #controls label:nth-child(4):before {
  content: '';
  position: absolute;
  width: 30px;
  display: block;
  border: 10px solid transparent;
  border-right-color: grey;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
  background: #fff;
  width: 12px;
  height: 12px;
  border: 3px solid #000;
}

/* Slider Styling */
#slides {
  margin: 45px 0 0;
  padding: 1%;
  background: #fff;
}

/* Animation */
#slides .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */
}

#slider {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#controls label {
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

.info,
#controls,
#slides,
#active,
#active label,
.info h3,
.desktop,
.tablet,
.mobile {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.tariffs {
  background-color: #f2f2f2;
  padding: 100px 0;
  text-transform: uppercase;
}
.tariffs__slider {
  position: relative;
}
.tariffs__slider .tarrifs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
}
.tariffs__slider .tarrifs__list li {
  position: relative;
  border-bottom: 2px solid #f2f2f2;
}
.tariffs__slider .tarrifs__list li:first-child {
  background-color: #283645;
}

.tarrifs-list__wrap {
  position: relative;
  width: 95%;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  margin: 0 auto;
}
.tarrifs-list__wrap .tariffs__list-item {
  color: #283645;
  display: block;
  padding: 20px;
}
.tarrifs-list__wrap .tariffs__list-icon--ok, .tarrifs-list__wrap .tariffs__list-icon--none {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  height: 28px;
  width: 32px;
  position: absolute;
  right: 15px;
  top: 20px;
}
.tarrifs-list__wrap .tariffs__list-icon--none {
  width: 30px;
}
.tarrifs-list__wrap .tarrifs-list-sticker {
  display: block;
  margin: 0 auto;
  width: 275px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.tarrifs-list__wrap .tarrifs-list-sticker .tarrifs-list-price {
  display: block;
  font: 300 24px/1.2 "Open Sans", sans-serif;
}
.tarrifs-list__wrap .tarrifs-list-sticker .tarrifs-list-name {
  display: block;
  font: 700 18px/1 "Open Sans", sans-serif;
}
.tarrifs-list__wrap .tarrifs-list__new-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 73px;
  text-transform: uppercase;
  overflow: hidden;
}
.tarrifs-list__wrap .tarrifs-list__new-label span {
  position: absolute;
  color: #fff;
  background-color: #d22856;
  width: 150%;
  left: -32px;
  bottom: 30px;
  padding: 5px;
  transform: rotate(-45deg);
}

.tarrifs-table {
  border-collapse: collapse;
  background-color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
}
.tarrifs-table thead {
  padding: 4px;
}
.tarrifs-table thead td {
  background-color: #283645;
  color: #fff;
  padding: 24px 0;
}
.tarrifs-table tr {
  position: relative;
}
.tarrifs-table .tarrifs__options {
  text-align: left;
}
.tarrifs-table td {
  padding: 13px;
  border: 2px solid #e5e5e5;
  position: relative;
  width: 160px;
  min-height: 60px;
  text-align: center;
}
.tarrifs-table td .tarrifs-table-sticker {
  display: block;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0;
}
.tarrifs-table td .tarrifs-table-name {
  display: block;
  font: 700 18px/1 "Open Sans", sans-serif;
  padding-bottom: 5px;
}
.tarrifs-table td .tarrifs-table-price {
  display: block;
  font: 300 24px/1.2 "Open Sans", sans-serif;
}
.tarrifs-table td .tarrifs-table__new-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 73px;
  text-transform: uppercase;
  overflow: hidden;
}
.tarrifs-table td .tarrifs-table__new-label span {
  position: absolute;
  color: #fff;
  background-color: #d22856;
  width: 150%;
  left: -32px;
  bottom: 30px;
  padding: 5px;
  transform: rotate(-45deg);
}

.tarrifs-table thead .empty {
  border: 2px solid #f2f2f2 !important;
  border-bottom: 2px solid #e5e5e5 !important;
  border-right: 2px solid #e5e5e5 !important;
  background-color: #f2f2f2;
}

.tariffs__table-icon--ok, .tariffs__table-icon--none {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 28px;
  width: 32px;
}

.tariffs__table-icon--none {
  width: 28px;
}

.table-icon--ok {
  fill: #63d169;
}

.table-icon--no {
  fill: #f25b26;
}

.download-app {
  background-color: #283645;
  color: #fff;
  padding: 25px 0 30px;
  text-align: center;
}
.download-app__download-link {
  width: 280px;
  margin: 0 auto;
}
.download-app__button {
  width: 300px;
  color: #fff;
  margin: 0 auto 40px;
  padding: 7px;
  border: 3px solid #fff;
  border-radius: 40px;
  cursor: pointer;
  display: block;
  font-size: 21px;
}
.download-app__button:hover {
  color: #d22856;
  background-color: #fff;
}
.download-app__button:active {
  opacity: 0.7;
}
.download-app__platforms {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}
.download-app__platforms li {
  display: inline-block;
  vertical-align: baseline;
  width: 52px;
  height: 61px;
  margin-right: 22px;
}
.download-app__platforms li:last-child {
  margin-right: 0;
}

.promo-app {
  background-color: #fff;
  padding: 35px 0;
  text-align: center;
}
.promo-app__header {
  font: 300 24px/1.2 "Open Sans", sans-serif;
}
.promo-app__header span {
  display: block;
  margin: 0 auto;
}

.about-app {
  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 100px 0 0;
}
.about-app__image {
  padding-top: 40px;
  margin-bottom: -5px;
}
.about-app__image .default-img {
  display: block;
  margin: 0 auto;
}
.about-app__image .about-app__item-img .large-screen {
  display: none;
}
.about-app:before {
  content: '';
  display: block;
  height: 100px;
  background: linear-gradient(177deg, #ffffff 1%, #ffffff 53%, #f2f2f2 53%);
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
}
.about-app .sub-header {
  font: 700 18px/1 "Open Sans", sans-serif;
  padding: 15px 0;
  text-align: center;
}

.effect {
  background-color: #fff;
  padding: 50px 0 114px;
  position: relative;
}
.effect__image {
  width: 265px;
  float: left;
  margin-right: 85px;
  position: relative;
}
.effect__wrap {
  float: left;
  width: 310px;
  padding-top: 20px;
}
.effect__header {
  font: 700 18px/1 "Open Sans", sans-serif;
  font-size: 30px;
  width: 180px;
  padding: 77px 0 20px;
}
.effect__text a {
  display: block;
  padding-top: 40px;
  text-decoration: underline;
}
.effect__timer {
  fill: #dedede;
  position: relative;
}
.effect .effect-image__content {
  display: inline-block;
  font-size: 104px;
  vertical-align: middle;
  font-weight: bold;
  color: #d22856;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -100px;
  width: 230px;
  height: 230px;
  border: 10px solid #d22856;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  background-color: #f2f2f2;
}

.testimonials {
  background-color: #fff;
  padding: 50px 0 100px;
  text-align: center;
  position: relative;
}
.testimonials:after {
  content: '';
  display: block;
  height: 100px;
  background: linear-gradient(177deg, #fff 1%, #fff 53%, #f2f2f2 53%);
  width: 100%;
  bottom: 0;
  position: absolute;
}

.testimonials__slider {
  position: relative;
  margin: 0 auto;
}

.slider__info {
  padding-bottom: 30px;
  font: 700 18px/1 "Open Sans", sans-serif;
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 30px;
}
.slider__info div {
  font: 400 14px/1.6 "Open Sans", sans-serif;
}

.testimonials__sub-header {
  display: none;
  font: 400 14px/1.6 "Open Sans", sans-serif;
}

.map {
  height: 520px;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

@media all and (max-width: 320px) {
  .container {
    width: 320px;
  }
}
@media all and (max-width: 700px) {
  .effect {
    display: none;
  }

  .about-app__item-img {
    display: none;
  }

  .tarrifs-table {
    display: none;
  }

  .page-footer {
    display: none;
  }
}
@media all and (min-width: 700px) {
  .logo__link {
    background-image: url(../img/Pink-logo-2@1x.png);
  }

  .container {
    width: 660px;
    margin: 0 auto;
  }

  .page-header {
    min-height: 730px;
    background: url(../img/iphone-hand-2@1x.png) no-repeat center bottom, url(../img/background-2@1x.jpg) no-repeat center center #283645;
  }

  .download-app {
    margin-top: -270px;
    background: none;
    padding-top: 10px;
  }

  .download-app__download-link {
    float: left;
    position: relative;
    top: -90px;
  }

  .page-header__text {
    font-size: 40px;
    width: 245px;
    padding: 107px 0 0 30px;
    line-height: 1.2;
    float: left;
  }

  .promo-app__header span {
    padding: 0;
    font-size: 40px;
  }
  .promo-app__header span:nth-child(2) {
    width: 340px;
  }

  .about-app__item {
    margin-left: 310px;
    width: 320px;
    text-align: left;
  }
  .about-app__item .sub-header {
    text-align: left;
  }

  .about-app {
    padding: 94px 0 0;
  }

  .about-app__item-img {
    display: none;
  }

  .about-app__image {
    float: left;
    margin-top: -430px;
    margin-bottom: -6px;
  }

  .testimonials {
    padding: 15px 0 130px;
  }
  .testimonials .indicators {
    bottom: -125px;
  }

  .effect {
    padding: 50px 0 0;
  }

  .testimonials__header {
    top: auto;
    bottom: -80px;
  }

  .testimonials__sub-header {
    padding-top: 10px;
    display: block;
  }

  .testimonials .indicatios {
    bottom: -130px;
  }

  .tariffs__slider {
    display: none;
  }

  .tariffs-table {
    display: table;
  }

  .contacts__header {
    font-size: 40px;
    width: 520px;
  }

  .contacts-item-wrap {
    float: left;
    width: 50%;
  }
  .contacts-item-wrap:last-child {
    width: 100%;
  }

  .page-footer {
    line-height: 3.5;
  }
}
@media all and (min-width: 1200px) {
  body {
    font-size: 18px;
  }

  .logo__link {
    background-image: url(../img/Pink-logo-3@1x.png);
  }

  .container {
    width: 940px;
    margin: 0 auto;
  }

  .page-header {
    min-height: 850px;
    background: url(../img/iphone-hand-3@1x.png) no-repeat 66% bottom, url(../img/background-fullsize.jpg) no-repeat center center #283645;
  }
  .page-header .main-nav-toggle {
    display: none;
  }
  .page-header .page-header__text {
    width: 300px;
    font-size: 50px;
    padding-left: 0;
  }
  .page-header .download-app__platforms {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .page-header .menu .main-nav .main-nav__list {
    display: block;
  }
  .page-header .menu .main-nav .main-nav__list li {
    display: inline-block;
    margin-left: 65px;
  }

  .download-app {
    padding-bottom: 0;
  }

  .download-app__download-link {
    top: -159px;
  }

  .download-app__button {
    margin-bottom: 66px;
    font-weight: 300;
  }

  .promo-app {
    padding: 13px 0 76px;
  }

  .promo-app__header span {
    font-size: 50px;
  }
  .promo-app__header span:nth-child(2) {
    width: 600px;
    margin: 0 auto;
  }

  .about-app {
    padding: 10px 0 0px;
  }

  .about-app__item {
    text-align: center;
    width: 300px;
    margin: 0 10px 0 0;
    float: left;
  }
  .about-app__item:last-child {
    margin-right: 0;
  }
  .about-app__item .sub-header {
    text-align: center;
    font-size: 30px;
    padding-top: 59px;
  }
  .about-app__item p {
    padding-top: 10px;
    font-size: 18px;
  }

  .about-app__image {
    display: none;
  }

  .about-app__item-img {
    display: block;
  }

  .about-app__item-img .default-img {
    display: none;
  }

  .about-app__item-img .large-screen {
    display: block;
  }

  .about-app__item-img {
    box-shadow: 0 5px 7px -10px #000;
  }

  .about-app__item-img img {
    width: 180px;
    height: auto;
    margin: 0 auto;
  }

  .effect {
    background-color: #f2f2f2;
    padding: 50px 0;
  }

  .effect__wrap,
  .effect__header {
    width: 590px;
  }

  .testimonials {
    padding: 33px 0 266px;
  }

  .testimonials__slider {
    width: 700px;
  }
  .testimonials__slider:before {
    display: block;
  }

  #slides article:before {
    display: block;
  }

  .slider__info {
    top: 250px;
  }

  .testimonials #active {
    display: none;
  }

  .contacts__header {
    font-size: 50px;
    width: 520px;
  }

  .contacts-item-wrap {
    width: 33%;
  }
  .contacts-item-wrap:last-child {
    width: 33%;
    float: left;
  }
  .contacts-item-wrap:nth-child(3) {
    float: right;
  }

  .contacts__sub-header {
    padding-bottom: 20px;
  }

  .page-footer {
    line-height: 2.5;
  }

  .page-footer .logo__link--footer {
    background-image: url(../img/Pink-logo-footer-3@1x.png);
  }
}

/*# sourceMappingURL=style.css.map */
