.container {
    width: 320px;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media all and (max-width: 320px) {
    .container {
        width: 320px;
    }
}

@media all and (max-width: 700px) {
    .effect {
        display: none;
    }
    .about-app__item-img {
        display: none;
    }
    .tarrifs-table {
        display: none;
    }
    .page-footer {
        display: none;
    }
}

@media all and (min-width: 700px) {
    .logo__link {
        background-image: url(../img/Pink-logo-2@1x.png);
    }
    .container {
        width: 660px;
        margin: 0 auto;
    }
    .page-header {
        min-height: 730px;
        background: url(../img/iphone-hand-2@1x.png) no-repeat center bottom, url(../img/background-2@1x.jpg) no-repeat center center $navy;
    }
    .download-app {
        margin-top: -270px;
        background: none;
        padding-top: 10px;
    }
    .download-app__download-link {
        float: left;
        position: relative;
        top: -90px;
    }
    .page-header__text {
        font-size: 40px;
        width: 245px;
        padding: 107px 0 0 30px;
        line-height: 1.2;
        float: left;
    }
    .promo-app__header span {
        padding: 0;
        font-size: 40px;
        &:nth-child(2) {
            width: 340px;
        }
    }
    .about-app__item {
        margin-left: 310px;
        width: 320px;
        text-align: left;
        .sub-header {
            text-align: left;
        }
    }
    .about-app {
        padding: 94px 0 0;
    }
    .about-app__item-img {
        display: none;
    }
    .about-app__image {
        float: left;
        margin-top: -430px;
        margin-bottom: -6px;
    }
    .testimonials {
        padding: 15px 0 130px;
        .indicators {
            bottom: -125px;
        }
    }
    .effect {
        padding: 50px 0 0;
    }
    .testimonials__header {
        top: auto;
        bottom: -80px;
    }
    .testimonials__sub-header {
        padding-top: 10px;
        display: block;
    }
    .testimonials .indicatios {
        bottom: -130px;
    }
    .tariffs__slider {
        display: none;
    }
    .tariffs-table {
        display: table;
    }
    .contacts__header {
        font-size: 40px;
        width: 520px;
    }
    .contacts-item-wrap {
        float: left;
        width: 50%;
        &:last-child {
            width: 100%;
        }
    }
    .page-footer {
        line-height: 3.5;
    }
}

@media all and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    .logo__link {
        background-image: url(../img/Pink-logo-3@1x.png);
    }
    .container {
        width: 940px;
        margin: 0 auto;
    }
    .page-header {
        min-height: 850px;
        background: url(../img/iphone-hand-3@1x.png) no-repeat 66% bottom, url(../img/background-fullsize.jpg) no-repeat center center $navy;
        .main-nav-toggle {
            display: none;
        }
        .page-header__text {
            width: 300px;
            font-size: 50px;
            padding-left: 0;
        }
        .download-app__platforms {
            margin-bottom: 40px;
            font-size: 18px;
        }
        .menu .main-nav .main-nav__list {
            display: block;
            li {
                display: inline-block;
                margin-left: 65px;
            }
        }
    }
    .download-app {
        padding-bottom: 0;
    }
    .download-app__download-link {
        top: -159px;
    }
    .download-app__button {
        margin-bottom: 66px;
        font-weight: 300;
    }
    .promo-app {
        padding: 13px 0 76px;
    }
    .promo-app__header span {
        font-size: 50px;
        &:nth-child(2) {
            width: 600px;
            margin: 0 auto;
        }
    }
    .about-app {
        padding: 10px 0 0px;
    }
    .about-app__item {
        text-align: center;
        width: 300px;
        margin: 0 10px 0 0;
        float: left;
        &:last-child {
            margin-right: 0;
        }
        .sub-header {
            text-align: center;
            font-size: 30px;
            padding-top: 59px;
        }
        p {
            padding-top: 10px;
            font-size: 18px;
        }
    }
    .about-app__image {
        display: none;
    }
    .about-app__item-img {
        display: block;
    }
    .about-app__item-img .default-img {
        display: none;
    }
    .about-app__item-img .large-screen {
        display: block;
    }
    .about-app__item-img {
        box-shadow: 0 5px 7px -10px #000;
    }
    .about-app__item-img img {
        width: 180px;
        height: auto;
        margin: 0 auto;
    }
    .effect {
        background-color: $grey;
        padding: 50px 0;
    }
    .effect__wrap,
    .effect__header {
        width: 590px;
    }
    .testimonials {
        padding: 33px 0 266px;
    }
    .testimonials__slider {
        width: 700px;
        &:before {
            display: block;
        }
    }
    #slides article:before {
        display: block;
    }
    .slider__info {
        top: 250px;
    }
    .testimonials #active {
        display: none;
    }
    .contacts__header {
        font-size: 50px;
        width: 520px;
    }
    .contacts-item-wrap {
        width: 33%;
        &:last-child {
            width: 33%;
            float: left;
        }
        &:nth-child(3) {
            float: right;
        }
    }
    .contacts__sub-header {
        padding-bottom: 20px;
    }
    .page-footer {
        line-height: 2.5;
    }
    .page-footer .logo__link--footer {
        background-image: url(../img/Pink-logo-footer-3@1x.png);
    }
}

@media all and (min-width: 1400px) {}
