$navy: #283645;
$grey: #f2f2f2;
$pink: #d22856;
$dark-grey: #bec2c7;
$main-font: 400 14px/1.6 'Open Sans', sans-serif;
$light-title:  300 24px/1.2 'Open Sans', sans-serif;
$weight-title: 700 18px/1 'Open Sans', sans-serif;
