.page-header {
    min-height: 460px;
    background: url('../img/iphone-hand-1.png') no-repeat center bottom, url(../img/background-1@1x.jpg) no-repeat center center $navy;
    .container {
        line-height: 3;
    }
    .menu {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 26px;
        position: relative;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        .main-nav-toggle {
            position: relative;
            float: right;
            background-color: transparent;
            border: none;
            outline: 0;
            padding: 0;
            height: 26px;
            vertical-align: middle;
            position: relative;
            top: 5px;
            .toggle__icon {
                fill: #fff;
                &:hover {
                    fill: $pink;
                }
                &:active {
                    opacity: 0.5;
                }
            }
        }
        .main-nav {
            float: right;
            .main-nav__list {
                display: none;
                margin: 0;
                padding: 0;
                list-style-type: none;
                a {
                    color: #fff;
                    font-size: 18px;
                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                    &:active {
                        opacity: 0.7;
                        border: none;
                    }
                }
            }
        }
        .main-nav--mobile {
            display: none;
            padding: 0;
            margin: 0;
            position: absolute;
            list-style: none;
            width: 100%;
            left: 0;
            top: 92px;
            z-index: 100;
            a {
                display: block;
                font-size: 18px;
                text-decoration: none;
                color: #ffffff;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                background: #283645;
                border-bottom: 1px solid #000101;
                border-top: 1px solid #485461;
                padding: 5px;
            }
        }
        .main-nav-mobile--active {
            display: block;
        }
    }
    &__text {
        text-align: center;
        padding: 25px 0;
        color: #fff;
        font: $light-title;
    }
}

.logo {
    float: left;
    width: 200px;
    &__link {
        display: block;
        width: 145px;
        height: 40px;
        background: url("../img/Pink-logo-1.png") no-repeat center center;
        &:hover {
            opacity: 0.5;
        }
    }
}
