.contacts {
    background-color: #fff;
    text-align: center;
    padding-top: 45px;
    text-align: center;
    position: relative;
    &__header {
        font: $light-title;
        color: $navy;
        width: 230px;
        margin: 0 auto;
        padding-bottom: 35px;
    }
    &-item-wrap {
        padding-bottom: 28px;
        .contacts__sub-header {
            font: $weight-title;
            color: #000;
        }
        .contacts__item {
            font: $light-title;
            display: inline-block;
            color: $pink;
            &:hover {
              color: #000;
              cursor: pointer;
            }
        }
    }
    &:after {
        content: '';
        display: block;
        height: 125px;
        background: linear-gradient(188deg, #fff 1%, #fff 50%, transparent 50%);
        width: 50%;
        bottom: -125px;
        left: 0;
        position: absolute;
        z-index: 1;
    }
    &:before {
        content: '';
        display: block;
        height: 125px;
        background: linear-gradient(172deg, #fff 1%, #fff 50%, transparent 50%);
        width: 50%;
        bottom: -125px;
        right: 0;
        z-index: 1;
        position: absolute;
    }
}

.page-footer {
    padding: 60px 0;
    line-height: 2.5;
.logo {
    width: 33%;
    &__link--footer {
        display: block;
        width: 145px;
        height: 40px;
        background: url(../img/Pink-logo-footer-2@1x.png) no-repeat center center;
        &:hover {
          opacity: 0.5;
        }
    }
}

}

.socials {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 33%;
    &__item {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        a {
            display: inline-block;
            border: 2px solid $grey;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            vertical-align: middle;
            &:hover {
                border-color: #000;
            }
            &:active {
                opacity: 0.5;
            }
        }
        .tw {
            &__icon {
                fill: $pink;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .fb {
            &:active {
                opacity: 0.5;
            }
            &__icon {
                fill: $pink;
            }
        }
        .yt {
            &:active {
                opacity: 0.5;
            }
            &:active {
                opacity: 0.5;
            }
            &__icon {
                fill: $pink;
            }
        }
    }
}

.authors {
    float: right;
    color: #000;
    width: 33%;
    text-align: right;
    &__academy {
        display: inline-block;
        width: 30px;
        height: 33px;
        vertical-align: middle;
        margin-left: 10px;
        fill: $pink;
        &:hover {
            fill: #000;
        }
    }
    &__designer {
        @extend .authors__academy;
        fill: $pink;
        &:hover {
            fill: #000;
        }
    }
}
