.contacts {
	background-color: #fff;
	text-align: center;
	padding-top: 45px;
	text-align: center;
	&__header {
		font: $light-title;
		color: $navy;

		padding-bottom: 35px;
	}
	&-item-wrap {
	padding-bottom: 25px;
		.contacts__sub-header {
			font: $weight-title;
			color: #000;
		}
	.contacts__item {
		font: $light-title;
		color: $pink;
		display: inline-block;
		}
	}
}

