.page-header {
	min-height: 320px;
	background-color: $navy;

	.menu {
		background-color: #000;
		opacity: 0.3;
		padding: 20px;
		&:after {
			content: '';
			display: table;
			clear: both;
		}
		.logo {
			float: left;
			width: 80px;
		}
			.main-nav-toggle {
				position: relative;
				float: right;
				background-color: transparent;
				border: none;
				.toggle__icon-bar {
					display: block;
					width: 50px;
					height: 4px;
					background-color: #fff;
					margin-bottom: 6px;
				}
}
		.main-nav {
			float: right;
			display: none;
				.main-nav__list {
					margin: 0;
					padding: 0;
					list-style-type: none;
				}
		}
	}
	&__text {
		text-align: center;
		padding: 25px 0;
		color: #fff;
		font: $light-title;
	}
}