  #slider {
      text-align: center;
      label, a {
          color: teal;
          cursor: pointer;
          text-decoration: none;
      }
      label:hover,
      a:hover {
          color: #000 !important;
      }
      * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }
      label,
      #active,
      img {
          -moz-user-select: none;
          -webkit-user-select: none;
      }
      .catch {
          display: block;
          height: 0;
          overflow: hidden;
      }
      #slider {
          margin: 0 auto;
      }
      #description {
          margin: 25px auto;
          text-align: left;
          max-width: 650px;
          padding: 0 25px;
      }
      .respond {
          margin: 0 auto;
          max-width: 370px;
      }
      input {
          display: none;
      }
  }

  #slide1:checked ~ #slides .inner {
      margin-left: 0;
  }

  #slide2:checked ~ #slides .inner {
      margin-left: -100%;
  }

  #slide3:checked ~ #slides .inner {
      margin-left: -200%;
  }

  #slide4:checked ~ #slides .inner {
      margin-left: -300%;
  }

  #slide5:checked ~ #slides .inner {
      margin-left: -400%;
  }

  #overflow {
      width: 100%;
      overflow: hidden;
  }

  article img {
      width: 100%;
  }

  #slides .inner {
      width: 500%;
  }

  #slides article {
      width: 20%;
      float: left;
      position: relative;
      padding: 105px 0;
      &:before {
          content: '';
          display: block;
          width: 80px;
          height: 64px;
          background: url('../../img/quotes.svg') no-repeat center center;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -40px;
          display: none;
      }
  }
  /* Slider Styling */
  /* Control Setup */

  #controls {
      margin: -25% 0 0 -10%;
      width: 116%;
      label {
          display: none;
          opacity: 0.3;
          &:hover {
              opacity: 0.8;
          }
      }
  }

  #active {
      margin: 16% 0 0;
      text-align: center;
      label {
          display: inline-block;
          width: 6px;
          height: 6px;
          background-color: $dark-grey;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 10px;
          &:hover {
              background: #7e868f;
          }
          &:active {
              opacity: 0.5;
          }
      }
  }

  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(1) {
      position: relative;
      float: right;
      margin: 0 -70px 0 0;
      display: block;
      &:before {
          content: '';
          position: absolute;
          width: 30px;
          display: block;
          border: 10px solid transparent;
          border-left-color: grey;
      }
  }

  #slide1:checked ~ #controls label:nth-child(5),
  #slide2:checked ~ #controls label:nth-child(1),
  #slide3:checked ~ #controls label:nth-child(2),
  #slide4:checked ~ #controls label:nth-child(3),
  #slide5:checked ~ #controls label:nth-child(4) {
      float: left;
      margin: 0 0 0 -70px;
      display: block;
      &:before {
          content: '';
          position: absolute;
          width: 30px;
          display: block;
          border: 10px solid transparent;
          border-right-color: grey;
      }
  }

  #slide1:checked ~ #active label:nth-child(1),
  #slide2:checked ~ #active label:nth-child(2),
  #slide3:checked ~ #active label:nth-child(3),
  #slide4:checked ~ #active label:nth-child(4),
  #slide5:checked ~ #active label:nth-child(5) {
      background: #fff;
      width: 12px;
      height: 12px;
      border: 3px solid #000;
  }
  /* Slider Styling */

  #slides {
      margin: 45px 0 0;
      padding: 1%;
      background: #fff;
  }
  /* Animation */

  #slides .inner {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      /* easeInOutQuart */

      -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
      transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
      /* easeInOutQuart */
  }

  #slider {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
  }

  #controls label {
      -webkit-transform: translateZ(0);
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;
  }

  #slide1:checked ~ #slides article:nth-child(1) .info,
  #slide2:checked ~ #slides article:nth-child(2) .info,
  #slide3:checked ~ #slides article:nth-child(3) .info,
  #slide4:checked ~ #slides article:nth-child(4) .info,
  #slide5:checked ~ #slides article:nth-child(5) .info {
      opacity: 1;
      -webkit-transition: all 1s ease-out 0.6s;
      -moz-transition: all 1s ease-out 0.6s;
      -o-transition: all 1s ease-out 0.6s;
      transition: all 1s ease-out 0.6s;
  }

  .info,
  #controls,
  #slides,
  #active,
  #active label,
  .info h3,
  .desktop,
  .tablet,
  .mobile {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
  }
