.tariffs {
	background-color: $grey;
	padding: 100px 0;
	&__slider {
		position: relative;
		.tarrifs__list {
			margin: 0;
			padding: 0;
			list-style-type: none;
			background-color: #fff;
			li {
				position: relative;
				border-bottom: 2px solid $grey;
				&:first-child {
					background-color: $navy;
				}
		}
	}
	}
}
.tarrifs-list__wrap {
	position: relative;
	width: 95%;
	border-left: 1px solid $grey;
	border-right: 1px solid $grey;
	margin: 0 auto;

	.tariffs__list-item {
		text-transform: uppercase;
		color: $navy;
		display: block;
		padding: 20px;
	}
	.tariffs__list-icon--ok {
		display: inline-block;
		text-align: right;
		vertical-align: middle;
		height: 28px;
		width: 32px;
		position: absolute;
		right: 15px;
		top: 20px;
		background: url('../../img/yes.svg') no-repeat center center #fff;
	}
	.tariffs__list-icon--none {
		@extend .tariffs__list-icon--ok;
		width: 28px;
		background-image: url('../../img/no.svg');
	}
	.tarrifs-list-sticker {
		display: block;
		margin: 0 auto;
		width: 275px;
		color: #fff;
		text-align: center;
		padding: 20px 0;
		.tarrifs-list-price {
			display: block;
			font: $light-title;
		}
		.tarrifs-list-name {
			display: block;
			font: $weight-title;
		}
	}
	.tarrifs-list__new-label {
		position: absolute;
		top: 0;
		left: 0;
		width: 73px;
		height: 73px;
		text-transform: uppercase;
		overflow: hidden;
		span {
			position: absolute;
			color: #fff;
			background-color: #d22856;
			width: 150%;
			left: -32px;
			bottom: 30px;
			padding: 5px;
			transform: rotate(-45deg);
	}
	}
}

.indicators {
	position: absolute;
	width: 65px;
	height: 15px;
	bottom: -60px;
	left: 50%;
	margin-left: -32px;
	text-align: center;
	font-size: 0;
	cursor: pointer;
	a {
		display: inline-block;
		width: 6px;
		height: 6px;
		background-color: $dark-grey;
		border-radius: 50%;
		vertical-align: middle;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		};
	}
	.indicators--active {
		border: 3px solid $navy;
		width: 12px;
		height: 12px;
		background-color: #fff;
	}
}