/* line 1, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slider {
  text-align: center; }
  /* line 3, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider label, #slider a {
    color: teal;
    cursor: pointer;
    text-decoration: none; }
  /* line 8, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider label:hover, #slider a:hover {
    color: #000 !important; }
  /* line 11, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 12, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider label, #slider #active, #slider img {
    -moz-user-select: none;
    -webkit-user-select: none; }
  /* line 13, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider .catch {
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 14, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider #slider {
    margin: 0 auto; }
  /* line 17, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider #description {
    margin: 25px auto;
    text-align: left;
    max-width: 650px;
    padding: 0 25px; }
  /* line 23, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider .respond {
    margin: 0 auto;
    max-width: 370px; }
  /* line 27, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slider input {
    display: none; }

/* line 33, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide1:checked ~ #slides .inner {
  margin-left: 0; }

/* line 34, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide2:checked ~ #slides .inner {
  margin-left: -100%; }

/* line 35, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide3:checked ~ #slides .inner {
  margin-left: -200%; }

/* line 36, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide4:checked ~ #slides .inner {
  margin-left: -300%; }

/* line 37, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide5:checked ~ #slides .inner {
  margin-left: -400%; }

/* line 40, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#overflow {
  width: 100%;
  overflow: hidden; }

/* line 45, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
article img {
  width: 100%; }

/* line 49, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slides .inner {
  width: 500%;
  line-height: 0; }

/* line 54, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slides article {
  width: 20%;
  float: left; }

/* Slider Styling */
/* Control Setup */
/* line 63, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px; }
  /* line 67, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #controls label {
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.3; }
    /* line 72, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
    #controls label:hover {
      opacity: 0.8; }

/* line 78, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#active {
  margin: 23% 0 0;
  text-align: center; }
  /* line 81, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #active label {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb; }
    /* line 89, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
    #active label:hover {
      background: #ccc;
      border-color: #777 !important; }

/* line 101, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4), #slide4:checked ~ #controls label:nth-child(5), #slide5:checked ~ #controls label:nth-child(1) {
  /*	background: url('next.png') no-repeat; */
  position: relative;
  float: right;
  margin: 0 -70px 0 0;
  display: block; }
  /* line 107, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slide1:checked ~ #controls label:nth-child(2):before, #slide2:checked ~ #controls label:nth-child(3):before, #slide3:checked ~ #controls label:nth-child(4):before, #slide4:checked ~ #controls label:nth-child(5):before, #slide5:checked ~ #controls label:nth-child(1):before {
    content: '';
    position: absolute;
    width: 30px;
    display: block;
    border: 10px solid transparent;
    border-left-color: grey; }

/* line 122, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide1:checked ~ #controls label:nth-child(5), #slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3), #slide5:checked ~ #controls label:nth-child(4) {
  /*	background: url('prev.png') no-repeat; */
  float: left;
  margin: 0 0 0 -70px;
  display: block; }
  /* line 127, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
  #slide1:checked ~ #controls label:nth-child(5):before, #slide2:checked ~ #controls label:nth-child(1):before, #slide3:checked ~ #controls label:nth-child(2):before, #slide4:checked ~ #controls label:nth-child(3):before, #slide5:checked ~ #controls label:nth-child(4):before {
    content: '';
    position: absolute;
    width: 30px;
    display: block;
    border: 10px solid transparent;
    border-right-color: grey; }

/* line 142, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide1:checked ~ #active label:nth-child(1), #slide2:checked ~ #active label:nth-child(2), #slide3:checked ~ #active label:nth-child(3), #slide4:checked ~ #active label:nth-child(4), #slide5:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important; }

/* Slider Styling */
/* line 150, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slides {
  margin: 45px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  padding: 1%;
  background: #fff;
  background: #fcfff4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcfff4 0%, #dbdac9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfff4), color-stop(100%, #dbdac9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dbdac9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfff4 0%, #dbdac9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfff4 0%, #dbdac9 100%);
  /* IE10+ */
  background: linear-gradient(top, #fcfff4 0%, #dbdac9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 );
  /* IE6-9 */ }

/* Animation */
/* line 171, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slides .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */ }

/* line 186, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slider {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* line 194, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#controls label {
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }

/* line 206, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
#slide1:checked ~ #slides article:nth-child(1) .info, #slide2:checked ~ #slides article:nth-child(2) .info, #slide3:checked ~ #slides article:nth-child(3) .info, #slide4:checked ~ #slides article:nth-child(4) .info, #slide5:checked ~ #slides article:nth-child(5) .info {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s; }

/* line 214, /Users/Kate/htmlacademy/21546-Pink/scss/components/_slider.scss */
.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
