.contacts {
	background-color: #fff;
}
.contacts__header {
	font: $light-title;
	color: $navy;
	text-align: center;
	padding: 45px 0 35px;
}
.contacts-item-wrap {
	padding-bottom: 25px;
}
.contacts__sub-header {
	font: $weight-title;
	color: #000;
	text-align: center;
}
 .contacts__item {
	font: $light-title;
	color: $pink;
	text-align: center;
	display: block;
}
