@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.download-app {
	background-color: $navy;
	color: #fff;
}
.download-app__header {
	font: $light-title;
	padding: 95px 0 340px;
	text-align: center;
	background-image: url(http://lorempixel.com/800/500);
}
.download-app__image-wrap {
	padding-bottom: 20px;
		img{
			display: block;
			margin: 0 auto;
}
}
.download-app__button {
	font: $main-font;
	width: 210px;
	color: #fff;
	margin: 30px auto;
	text-align: center;
	padding: 15px 30px;
	border: 2px solid #fff;
	border-radius: 40px;
	cursor: pointer;
}
.download-app__download-links {
	width: 250px;
	margin: 0 auto;
}
.download-app__platforms {
	margin: 0 0 25px 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	li {
		display: inline-block;
		width: 52px;
		height: 61px;
		border: 1px dashed white;
	}
}
.download-app__text {
	font: $main-font;
	color: #fff;
	margin-bottom: 30px;
}
.promo-app {
	background-color: #fff;
	h1 {
		padding: 45px 0 35px;
		font: $light-title;
		text-align: center;
	}
	div {
		padding-bottom: 25px;
		font: $light-title;
		text-align: center;
	}
}
.about-app {
	background-color: $grey;
}
.about-app__item:first-child {
	padding-top: 50px;
}
.about-app__item:last-child {
	padding-bottom: 40px;
}
.about-app__item p {
	text-align: center;
	font: $main-font;
}
.sub-header {
	font: $weight-title;
	padding: 15px;
	text-align: center;
}
.about-app__image {
	padding-top: 40px;
}
.about-app__image img {
	display: block;
	margin: 0 auto;
}
.testimonials {
	background-color: #fff;
}
.testimonials__slider {
	position: relative;
}
.testimonials__header {
	font: $weight-title;
	padding: 45px 0 25px;
	text-align: center;
}
.testimonials__text {
	font: $main-font;
	padding-bottom: 95px;
	text-align: center;
}
